# Aim: To perform and find the accuracy of K-Nearest Neighbors Algorithm i.e. KNN Classifier

In [2]:
# Name: Yash S Dudhe
# Class: 3rd year 
# Sec: A
# Roll No. : 24

In [3]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [4]:
df=pd.read_csv('C:\\Users\\hp\\Desktop\\CHD_preprocessed.csv')

In [5]:
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,1,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [6]:
df.tail()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
4128,1,50,0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4129,1,51,1,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4130,0,48,0,1,20.0,0.0,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4131,0,44,0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,82.0,0
4132,0,52,0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4133 entries, 0 to 4132
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4133 non-null   int64
 1   age              4133 non-null   int64
 2   education        4133 non-null   int64
 3   currentSmoker    4133 non-null   int64
 4   cigsPerDay       4133 non-null   float64
 5   BPMeds           4133 non-null   float64
 6   prevalentStroke  4133 non-null   int64
 7   prevalentHyp     4133 non-null   int64
 8   diabetes         4133 non-null   int64
 9   totChol          4133 non-null   float64
 10  sysBP            4133 non-null   float64
 11  diaBP            4133 non-null   float64
 12  BMI              4133 non-null   float64
 13  heartRate        4133 non-null   float64
 14  glucose          4133 non-null   float64
 15  TenYearCHD       4133 non-null   int64
dtypes: float64(8), int64(8)
memory usage: 516.8 KB

In [8]:
df.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4133.000000,4133.000000,4133.000000,4133.000000,4133.000000,4133.000000,4133.000000,4133.000000,4133.000000,4133.000000,4133.000000,4133.000000,4133.000000,4133.000000,4133.000000,4133.000000
mean,0.427293,49.557222,0.280668,0.494798,9.101621,0.034358,0.006049,0.311154,0.025647,236.664408,132.367046,82.872248,25.778571,75.925236,81.946528,0.151948
std,0.494745,8.561628,0.449380,0.500033,11.918440,0.182168,0.077548,0.463022,0.158100,43.909188,22.080332,11.952654,4.074360,12.049188,22.860954,0.359014
min,0.000000,32.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.060000,68.000000,72.000000,0.000000
50%,0.000000,49.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.380000,75.000000,80.000000,0.000000
75%,1.000000,56.000000,1.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,262.000000,144.000000,89.500000,27.990000,83.000000,85.000000,0.000000
max,1.000000,70.000000,1.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,600.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [9]:
df.isna().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [18]:
# Splitting the dependent and independent variables
x = df.drop('TenYearCHD',axis=1)
y = df['TenYearCHD']

In [19]:
x #Checking the features

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1,39,1,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0
1,0,46,0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0
2,1,48,0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0
3,0,61,1,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0
4,0,46,1,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4128,1,50,0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0
4129,1,51,1,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0
4130,0,48,0,1,20.0,0.0,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0
4131,0,44,0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,82.0
4132,0,52,0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0

# Train Test Split

In [20]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [21]:
y_train

173     1
1022    0
3182    0
331     1
2222    0
       ..
3444    0
466     0
3092    0
3772    0
860     0
Name: TenYearCHD, Length: 3306, dtype: int64

In [22]:
y_test

1864    0
1210    0
1924    0
1752    0
1095    0
       ..
881     0
25      1
3256    0
2269    0
1074    0
Name: TenYearCHD, Length: 827, dtype: int64

In [23]:
x_train

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
173,0,60,1,0,0.0,0.0,0,1,0,325.0,182.0,106.0,27.61,80.0,77.0
1022,1,42,1,1,20.0,0.0,0,0,0,270.0,112.0,77.0,24.77,73.0,85.0
3182,1,58,0,0,0.0,0.0,0,0,0,225.0,105.5,74.0,25.68,50.0,93.0
331,0,58,0,0,0.0,0.0,0,1,0,200.0,158.0,101.0,23.06,85.0,77.0
2222,1,39,1,0,0.0,0.0,0,1,0,208.0,146.0,92.0,25.91,69.0,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3444,0,49,0,0,0.0,0.0,0,1,0,233.0,149.0,91.5,26.03,68.0,82.0
466,1,50,0,0,0.0,0.0,0,1,0,219.0,145.0,100.0,26.26,78.0,108.0
3092,0,36,0,0,0.0,0.0,0,0,0,209.0,107.0,73.5,21.59,75.0,73.0
3772,0,64,0,0,0.0,0.0,0,1,0,279.0,172.0,87.0,24.01,80.0,70.0
860,0,47,0,0,0.0,0.0,0,0,0,232.0,113.5,73.0,28.78,75.0,77.0

In [24]:
x_test

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
1864,1,40,0,1,5.0,0.0,0,0,0,282.0,120.0,87.0,22.98,60.0,82.0
1210,0,50,0,1,10.0,0.0,0,1,0,298.0,156.0,90.0,24.24,75.0,100.0
1924,0,64,1,0,0.0,0.0,0,0,0,330.0,108.0,82.0,23.09,85.0,80.0
1752,0,55,0,0,0.0,1.0,0,1,0,285.0,158.0,98.0,30.23,70.0,88.0
1095,0,46,1,0,0.0,0.0,0,1,0,259.0,173.0,102.0,27.22,85.0,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
881,0,44,0,1,1.0,0.0,0,0,0,217.0,124.5,82.0,22.36,87.0,68.0
25,1,47,1,1,20.0,0.0,0,0,0,294.0,102.0,68.0,24.18,62.0,66.0
3256,0,63,1,0,0.0,0.0,0,0,0,297.0,133.5,92.0,25.09,80.0,74.0
2269,1,40,0,1,20.0,0.0,0,0,0,193.0,122.0,78.0,28.40,70.0,93.0
1074,1,57,1,0,0.0,1.0,0,1,0,195.0,162.0,108.0,32.65,85.0,73.0

In [25]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5, p=2, metric='minkowski')
knn.fit(x_train, y_train)
acc = knn.score(x_test, y_test)*100
print(acc)

81.62031438935912